body {
    color: pink;
}

.timer {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15vw;
    text-align: center;
    width: 100vw
}

@media screen and (max-width:1319px) {
    .timer {
        padding: 0 16vw
    }
}

@media screen and (max-width:899px) {
    .timer {
        padding: 0 8vw
    }
}

.timer .tier.tier-headline {
    font-size: 5.125rem;
    line-height: 1.2em;
    margin-bottom: .3em;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .2)
}

@media screen and (max-width:1439px) {
    .timer .tier.tier-headline {
        font-size: 4.5rem;
        line-height: 1.1em
    }
}

@media screen and (max-width:899px) {
    .timer .tier.tier-headline {
        font-size: 3rem;
        line-height: 1.2em
    }
}

@media screen and (max-width:559px) {
    .timer .tier.tier-headline {
        font-size: 2rem;
        line-height: 1.2em
    }
}

@media screen and (max-width:1439px) {
    .timer .tier.tier-headline {
        margin-bottom: .44em
    }
}

@media screen and (max-width:899px) {
    .timer .tier.tier-headline {
        margin-bottom: .83em
    }
}

@media screen and (max-width:559px) {
    .timer .tier.tier-headline {
        margin-bottom: 1em
    }
}

.timer .tier.tier-expiration-msg,
.timer .tier.tier-timer {
    font-size: 3.375rem;
    line-height: 1.2em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .2)
}

@media screen and (max-width:1439px) {
    .timer .tier.tier-expiration-msg,
    .timer .tier.tier-timer {
        font-size: 2.857rem;
        line-height: 1.3em
    }
}

@media screen and (max-width:899px) {
    .timer .tier.tier-expiration-msg,
    .timer .tier.tier-timer {
        font-size: 1.75rem;
        line-height: 1.4em
    }
}

@media screen and (max-width:559px) {
    .timer .tier.tier-expiration-msg,
    .timer .tier.tier-timer {
        font-size: 1.125rem;
        line-height: 1.5em
    }
}

.timer .tier.tier-expiration-msg .timer-number-wrap,
.timer .tier.tier-timer .timer-number-wrap {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: nowrap
}

.timer .tier.tier-expiration-msg .timer-number,
.timer .tier.tier-timer .timer-number {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-left: .5em;
    margin-right: .25em;
    text-align: right
}

.timer .tier.tier-expiration-msg .timer-number.seconds-number,
.timer .tier.tier-timer .timer-number.seconds-number {
    margin-left: .85em;
    -webkit-transition: width .15s linear;
    transition: width .15s linear;
    width: .6em
}

.timer .tier.tier-expiration-msg .timer-number.seconds-number.double-digit,
.timer .tier.tier-timer .timer-number.seconds-number.double-digit {
    width: 1.25em
}

.timer .tier.tier-expiration-msg .timer-label,
.timer .tier.tier-timer .timer-label {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    font-weight: 300;
    margin-right: .5em
}

.timer .tier.tier-expiration-msg .milliseconds-number,
.timer .tier.tier-timer .milliseconds-number {
    font-size: .5em;
    margin-left: -1em;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
    vertical-align: super;
    width: 2.25em
}

.timer.variant-embed .tier-headline {
    font-size: 30px
}

.timer.variant-embed .tier-expiration-msg,
.timer.variant-embed .tier-timer {
    font-size: 20px
}

.has-white-background .timer .tier.tier-expiration-msg,
.has-white-background .timer .tier.tier-headline,
.has-white-background .timer .tier.tier-timer {
    text-shadow: none
}

.app-footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, .04);
    color: #aab5b7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 5rem;
    -webkit-transition: height .5s;
    transition: height .5s
}

@media screen and (max-width:559px) {
    .app-footer {
        height: 4rem;
        padding: 0 1.5rem
    }
}

@media screen and (min-width:560px) and (max-width:899px) and (orientation:landscape) {
    .app-footer {
        height: 4rem;
        padding: 0 1.5rem
    }
}

[embedded] .app-footer {
    height: 3rem
}

.app-footer .footer-controls {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none
}

.app-footer .footer-controls .footer-control {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #afbebe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .75rem;
    line-height: 1rem;
    margin-right: 1rem;
    -webkit-transition: color .15s linear;
    transition: color .15s linear
}

.app-footer .footer-controls .footer-control svg {
    display: inline-block;
    fill: #d9e0e0;
    -webkit-filter: url(#inset-shadow);
    filter: url(#inset-shadow);
    height: 1.25rem;
    margin-right: .5rem;
    -webkit-transition: fill .15s linear;
    transition: fill .15s linear
}

.app-footer .footer-controls .footer-control:hover {
    color: #aab5b7
}

.app-footer .footer-controls .footer-control:hover svg {
    fill: #aab5b7
}

.app-footer .footer-controls .footer-control:active {
    color: #5e7072
}

.app-footer .footer-controls .footer-control:active svg {
    fill: #5e7072
}

@media screen and (max-width:559px) {
    .app-footer .footer-controls .footer-control svg {
        display: none
    }
}

.app-footer .social-links {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 4rem
}

.app-footer .social-icon,
.app-footer .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.app-footer .social-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, .12);
    box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
    height: 1.56rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 1.56rem
}

.app-footer .social-icon svg {
    display: block;
    fill: #d9e0e0;
    -webkit-filter: url(#inset-shadow);
    filter: url(#inset-shadow);
    overflow: visible;
    -webkit-transition: fill .15s linear;
    transition: fill .15s linear
}

.app-footer .social-icon:hover svg {
    fill: #aab5b7
}

.app-footer .social-icon:active svg {
    fill: #5e7072
}

.app-footer .credit-tag {
    font-size: .6875rem
}

.app-footer .credit-tag a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #aab5b7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none
}

.app-footer .credit-tag a:hover svg {
    fill: #5e7072
}

.app-footer .credit-tag svg {
    display: block;
    fill: #aab5b7;
    margin-left: .3em;
    margin-top: .25rem;
    -webkit-transition: fill .15s linear;
    transition: fill .15s linear;
    width: 4rem
}

@media screen and (max-width:559px) {
    .app-footer .credit-tag .credit-label {
        display: none
    }
}

.countdown-display {
    background-image: url(https://goeco.link/VdJjH);
    background-position: 50%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: omnes-pro, sans-serif;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    z-index: 3
}

.countdown-display:before {
    background-position: 50%;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.countdown-display .bg-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2
}

.countdown-display .preview-countdown-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2rem;
    height: 7rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    width: 100%
}

@media screen and (max-width:559px) {
    .countdown-display .preview-countdown-title {
        font-size: 1.125rem;
        height: 5rem
    }
}

@media screen and (min-width:560px) and (max-width:899px) and (orientation:landscape) {
    .countdown-display .preview-countdown-title {
        font-size: 1.125rem;
        height: 5rem
    }
}

.countdown-display .countdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: auto;
    position: relative;
    z-index: 3
}

@media screen and (max-width:559px) {
    .countdown-display .countdown-content.pro-form-open .logo-tier {
        -webkit-box-flex: 1.1;
        -ms-flex-positive: 1.1;
        flex-grow: 1.1
    }
    .countdown-display .countdown-content.pro-form-open .footer-tier {
        -webkit-box-flex: 0.9;
        -ms-flex-positive: 0.9;
        flex-grow: 0.9
    }
    .countdown-display .countdown-content.pro-form-open .countdown-logo img {
        max-height: 5rem
    }
    .countdown-display .countdown-content.pro-form-open .countdown-button {
        margin-top: 0
    }
}

.countdown-display .countdown-content-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    -ms-flex-pack: center;
    position: relative
}

.countdown-display .countdown-content-wrapper,
.countdown-display .countdown-tier {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%
}

.countdown-display .countdown-tier {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    text-align: center;
    -webkit-transition: flex-grow .5s ease-in-out, -webkit-box-flex .5s ease-in-out;
    transition: flex-grow .5s ease-in-out, -webkit-box-flex .5s ease-in-out;
    transition: flex-grow .5s ease-in-out;
    transition: flex-grow .5s ease-in-out, -webkit-box-flex .5s ease-in-out, -ms-flex-positive .5s ease-in-out
}

.countdown-display .countdown-tier.logo-tier {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0.95;
    -ms-flex-positive: 0.95;
    flex-grow: 0.95
}

.pro-countdown .countdown-display .countdown-tier.logo-tier {
    -webkit-box-flex: 1.16;
    -ms-flex-positive: 1.16;
    flex-grow: 1.16
}

.countdown-display .countdown-tier.timer-tier {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.countdown-display .countdown-tier.footer-tier {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1.05;
    -ms-flex-positive: 1.05;
    flex-grow: 1.05;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.pro-countdown .countdown-display .countdown-tier.footer-tier {
    -webkit-box-flex: 0.84;
    -ms-flex-positive: 0.84;
    flex-grow: 0.84
}

.countdown-display .countdown-logo {
    opacity: 1;
    text-align: center
}

.countdown-display .countdown-logo img[orientation=portrait] {
    height: 20vh;
    max-height: 15rem
}

.countdown-display .countdown-logo img[orientation=landscape] {
    max-width: 15rem;
    width: 20vh
}

.countdown-display .countdown-logo-transition-enter-active,
.countdown-display .countdown-logo-transition-leave-active {
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out
}

.countdown-display .countdown-logo-transition-enter-active img,
.countdown-display .countdown-logo-transition-leave-active img {
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out
}

.countdown-display .countdown-logo-transition-enter,
.countdown-display .countdown-logo-transition-leave-to {
    opacity: 0
}

.countdown-display .countdown-logo-transition-enter img,
.countdown-display .countdown-logo-transition-leave-to img {
    max-height: 0
}

.countdown-display .countdown-button {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(rgba(0, 0, 0, .1)));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .1));
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.125rem;
    height: 6vh;
    line-height: 1rem;
    margin-top: 3rem;
    max-height: 4rem;
    min-width: 15rem;
    overflow: hidden;
    padding: 0 1.5rem;
    position: relative;
    text-align: center
}

.countdown-display .countdown-button .button-text {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media screen and (max-width:559px) {
    .countdown-display .countdown-button {
        font-size: .75rem;
        line-height: .75rem;
        margin-top: 2rem;
        max-height: 2.5rem;
        padding: 0 .875rem
    }
}

@media screen and (min-width:560px) and (max-width:899px) and (orientation:landscape) {
    .countdown-display .countdown-button {
        font-size: .75rem;
        height: 11vh;
        line-height: .75rem;
        margin-top: 1rem;
        max-height: 2.5rem;
        padding: 0 .875rem
    }
}

.countdown-display .countdown-button-transition-enter-active,
.countdown-display .countdown-button-transition-leave-active {
    -webkit-transition: height .5s ease-in-out, line-height .5s ease-in-out, padding .5s ease-in-out;
    transition: height .5s ease-in-out, line-height .5s ease-in-out, padding .5s ease-in-out
}

.countdown-display .countdown-button-transition-enter,
.countdown-display .countdown-button-transition-leave-to {
    height: 0;
    line-height: 0;
    opacity: 0;
    padding: 0
}

.countdown-display .share-countdown {
    cursor: pointer;
    display: inline-block;
    -webkit-transform: translateY(-5vh);
    transform: translateY(-5vh)
}

.countdown-display .share-countdown svg {
    width: 1.5rem
}

.countdown-display .app-footer {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.countdown-display .footer-slide-enter-active,
.countdown-display .footer-slide-leave-active {
    -webkit-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out
}

.countdown-display .footer-slide-enter,
.countdown-display .footer-slide-leave-to {
    height: 0
}

.read-view[data-v-52a59230] {
    height: 100%;
    width: 100vw
}

.read-view .countdown-display[data-v-52a59230] {
    height: 100%;
    width: 100%
}

.share-modal {
    width: 26rem
}

@media screen and (max-width:899px) {
    .share-modal {
        width: auto
    }
}

.share-modal .modal-desc {
    font-weight: 300
}

.share-modal .modal-tier {
    margin-bottom: 2rem
}

.share-modal .modal-tier label {
    font-weight: 500;
    margin-bottom: .5rem
}

@media screen and (max-width:559px) {
    .share-modal .modal-tier label {
        font-size: .75rem
    }
}

.share-modal .modal-tier:last-child {
    margin-bottom: 0
}

.share-modal .share-url-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.share-modal .share-url-field .input-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: -2px
}

.share-modal .share-url-field input {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    font-size: .875rem;
    height: 3rem;
    line-height: 1.2rem;
    padding: .9rem;
    width: 100%;
    border-radius: 4px 0 0 4px
}

.share-modal .share-url-field input::-webkit-input-placeholder {
    color: #aab5b7
}

.share-modal .share-url-field input::-moz-placeholder {
    color: #aab5b7
}

.share-modal .share-url-field input::-ms-input-placeholder {
    color: #aab5b7
}

.share-modal .share-url-field input::placeholder {
    color: #aab5b7
}

.share-modal .share-url-field input.error:not(:focus) {
    border-color: #ff9e00
}

@media screen and (max-width:559px) {
    .share-modal .share-url-field input {
        font-size: .75rem;
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 .75rem
    }
}

.share-modal .share-url-field button {
    border-radius: 0 4px 4px 0;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.share-modal .share-url-field button.url-copied {
    background-color: #30c670;
    color: #fff
}

@media screen and (max-width:559px) {
    .share-modal .share-url-field button {
        font-size: .75rem;
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0 .75rem
    }
}

.share-modal .share-options {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.share-modal .share-options .share-option {
    cursor: pointer;
    font-size: .875rem;
    font-weight: 300;
    margin-right: 2rem;
    text-align: center;
    width: 3.75rem
}

.share-modal .share-options .share-option i {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #aab5b7;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto .25rem;
    position: relative;
    -webkit-transition: -webkit-box-shadow .15s linear;
    transition: -webkit-box-shadow .15s linear;
    transition: box-shadow .15s linear;
    transition: box-shadow .15s linear, -webkit-box-shadow .15s linear;
    width: 3rem
}

.share-modal .share-options .share-option i svg {
    fill: #fff;
    height: 60%;
    width: 60%
}

@media screen and (max-width:559px) {
    .share-modal .share-options .share-option i {
        height: 2.5rem;
        width: 2.5rem
    }
}

.share-modal .share-options .share-option.embed-option i {
    background-color: #05d994
}

.share-modal .share-options .share-option.facebook-option i {
    background-color: #4267b2
}

.share-modal .share-options .share-option.twitter-option i {
    background-color: #1da1f2
}

.share-modal .share-options .share-option:hover i {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .24), 0 3px 16px rgba(0, 0, 0, .18);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .24), 0 3px 16px rgba(0, 0, 0, .18)
}

.share-modal .share-options .share-option:active i {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .18);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .18)
}

.share-modal .share-options .share-option:active i:after {
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

@media screen and (max-width:559px) {
    .share-modal .share-options .share-option {
        font-size: .75rem
    }
}

.share-modal .embed-size-field {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem
}

.share-modal .embed-size-field span {
    display: inline-block;
    font-weight: 300;
    padding: 0 .5rem
}

.share-modal .embed-size-field .input-wrap {
    padding: 0;
    width: 4rem
}

.share-modal .embed-size-field input {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    font-size: .875rem;
    height: 3rem;
    line-height: 1.2rem;
    padding: .9rem;
    width: 100%;
    -moz-appearance: textfield;
    font-weight: 500;
    padding: 0 .75rem;
    text-align: center
}

.share-modal .embed-size-field input::-webkit-input-placeholder {
    color: #aab5b7
}

.share-modal .embed-size-field input::-moz-placeholder {
    color: #aab5b7
}

.share-modal .embed-size-field input::-ms-input-placeholder {
    color: #aab5b7
}

.share-modal .embed-size-field input::placeholder {
    color: #aab5b7
}

.share-modal .embed-size-field input.error:not(:focus) {
    border-color: #ff9e00
}

.share-modal .embed-size-field input::-webkit-inner-spin-button,
.share-modal .embed-size-field input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.share-modal .embed-code {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem
}

.modal.details-modal-modal .modal-body {
    padding: 0
}

@media screen and (max-width:559px) {
    .modal.details-modal-modal .modal-body {
        padding: 0
    }
}

.details-modal {
    max-height: 50vh;
    max-width: 50rem;
    overflow-y: auto;
    padding: 3rem 6.5rem
}

@media screen and (max-width:559px) {
    .details-modal {
        padding: 2.5rem 1.5rem
    }
}

.details-modal h1,
.details-modal h2 {
    font-size: 1rem;
    font-weight: 400
}

.details-modal h2,
.details-modal p {
    margin-left: 1rem
}

.details-modal ul li {
    list-style-type: disc;
    margin-bottom: .5em
}

.details-modal ul li ul li {
    list-style-type: circle
}

.details-modal ul li:last-child {
    margin-bottom: 0
}

.server-error-modal a {
    text-decoration: underline
}

.theme-confirm-modal {
    max-height: 50vh;
    max-width: 50rem;
    padding: 1.875rem 0 1.1875rem
}

@-webkit-keyframes ellipsis-cycle {
    0% {
        -webkit-transform: translate(0) scale(0);
        transform: translate(0) scale(0);
        z-index: 1
    }
    25% {
        -webkit-transform: translate(0) scale(1);
        transform: translate(0) scale(1);
        z-index: 2
    }
    50% {
        -webkit-transform: translate(200%) scale(1);
        transform: translate(200%) scale(1);
        z-index: 2
    }
    75% {
        -webkit-transform: translate(400%) scale(1);
        transform: translate(400%) scale(1);
        z-index: 2
    }
    to {
        -webkit-transform: translate(400%) scale(0);
        transform: translate(400%) scale(0);
        z-index: 1
    }
}

@keyframes ellipsis-cycle {
    0% {
        -webkit-transform: translate(0) scale(0);
        transform: translate(0) scale(0);
        z-index: 1
    }
    25% {
        -webkit-transform: translate(0) scale(1);
        transform: translate(0) scale(1);
        z-index: 2
    }
    50% {
        -webkit-transform: translate(200%) scale(1);
        transform: translate(200%) scale(1);
        z-index: 2
    }
    75% {
        -webkit-transform: translate(400%) scale(1);
        transform: translate(400%) scale(1);
        z-index: 2
    }
    to {
        -webkit-transform: translate(400%) scale(0);
        transform: translate(400%) scale(0);
        z-index: 1
    }
}

.ellipsis-spinner {
    height: 5rem;
    position: relative;
    width: 5rem
}

.ellipsis-spinner .ellipsis-dot {
    -webkit-animation: ellipsis-cycle 2s cubic-bezier(0, .5, .5, 1) infinite forwards;
    animation: ellipsis-cycle 2s cubic-bezier(0, .5, .5, 1) infinite forwards;
    border-radius: 50%;
    height: 1rem;
    left: 0;
    margin-top: -.5rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0) scale(0);
    transform: translate(0) scale(0);
    width: 1rem
}

.ellipsis-spinner .ellipsis-dot:first-child {
    background-color: #5e7072
}

.ellipsis-spinner .ellipsis-dot:nth-child(2) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    background-color: #bbb
}

.ellipsis-spinner .ellipsis-dot:nth-child(3) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    background-color: #aab5b7
}

.ellipsis-spinner .ellipsis-dot:nth-child(4) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    background-color: #d9e0e0
}

.ellipsis-spinner .ellipsis-dot:nth-child(5) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    background-color: #5e7072
}

.unsplash-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    position: relative
}

.unsplash-modal-modal.modal .modal-body {
    height: 100%;
    padding: 0
}

.unsplash-modal__body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: scroll;
    padding: 1rem 6.5rem 3rem
}

@media screen and (max-width:559px) {
    .unsplash-modal__body {
        padding: 2.5rem 1.5rem
    }
}

.unsplash-modal__footer {
    background-color: #f9f9f9;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: -1px 0 4px 0 rgba(0, 0, 0, .04), 0 -2px 20px 0 rgba(0, 0, 0, .08);
    box-shadow: -1px 0 4px 0 rgba(0, 0, 0, .04), 0 -2px 20px 0 rgba(0, 0, 0, .08);
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    min-height: 2rem;
    padding: 1rem
}

.unsplash-modal .search-bar {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem
}

.unsplash-modal .search-bar__control {
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 3rem;
    position: relative;
    width: 3rem
}

.unsplash-modal .search-bar__icon {
    height: 1.5rem;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1.5rem
}

.unsplash-modal .search-bar__icon svg {
    display: block;
    height: 100%
}

.unsplash-modal .search-bar__icon svg path {
    fill: #aab5b7
}

.unsplash-modal .search-bar input {
    background: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 3rem;
    padding: 0 1rem 0 .25rem
}

.unsplash-modal .processing-spinner {
    height: 50vh;
    position: relative;
    width: 60vw
}

.unsplash-modal .processing-spinner .ellipsis-spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media screen and (max-width:899px) {
    .unsplash-modal .processing-spinner {
        width: 100%
    }
}

.unsplash-modal .image-results {
    height: 50vh;
    width: 60vw
}

.unsplash-modal .image-results__featured-label {
    font-size: .875rem;
    margin-bottom: .5rem
}

.unsplash-modal .image-results__list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (max-width:899px) {
    .unsplash-modal .image-results {
        width: 100%
    }
}

.unsplash-modal .image-result {
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    margin-bottom: 2.5rem;
    position: relative;
    width: calc(34% - 2.5rem)
}

.unsplash-modal .image-result:before {
    content: "";
    display: block;
    padding-bottom: 66%
}

.unsplash-modal .image-result:after {
    background: rgba(0, 0, 0, .25);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

@media screen and (max-width:1023px) {
    .unsplash-modal .image-result {
        margin-bottom: 1rem;
        width: calc(50% - 1rem)
    }
}

.unsplash-modal .image-result .btn {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
    z-index: 2
}

.unsplash-modal .image-result .attribution {
    bottom: .5rem;
    color: #fff;
    font-size: .75rem;
    position: absolute;
    right: .5rem;
    z-index: 3
}

.unsplash-modal .image-result .attribution a {
    color: #fff;
    text-decoration: underline
}

.unsplash-modal .image-result:hover:after {
    opacity: 1
}

.unsplash-modal .image-result:hover .btn {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.unsplash-modal .no-images {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60vw
}

.unsplash-modal .no-images:before {
    content: ""
}

.unsplash-modal .no-images__label {
    font-size: 1.125rem
}

.unsplash-modal .unsplash-pagination {
    -ms-flex-pack: center
}

.unsplash-modal .unsplash-pagination,
.unsplash-modal .unsplash-pagination .page-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center
}

.unsplash-modal .unsplash-pagination .page-btn {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 2rem;
    -ms-flex-pack: center;
    padding: 0;
    width: 2rem
}

.unsplash-modal .unsplash-pagination .page-btn:before {
    content: ""
}

.unsplash-modal .unsplash-pagination .page-btn svg {
    display: block;
    height: .75rem
}

.unsplash-modal .unsplash-pagination .page-btn--prev svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.unsplash-modal .unsplash-pagination .page-btn--next svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.unsplash-modal .unsplash-pagination .page-btn--disabled {
    opacity: .35;
    pointer-events: none
}

.unsplash-modal .unsplash-pagination .pagination-status {
    color: #aab5b7;
    font-size: .75rem;
    margin: 0 1rem
}

.modal {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100
}

.modal .modal-curtain {
    background-color: rgba(0, 0, 0, .5);
    z-index: 1
}

.modal .modal-box-frame,
.modal .modal-curtain {
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%
}

.modal .modal-box-frame {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-x: none;
    overflow-y: auto;
    pointer-events: none;
    z-index: 2
}

[embedded] .modal .modal-box-frame {
    overflow: hidden;
    position: fixed
}

.modal .modal-box {
    background-color: #fbfbfb;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 4px 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 4px 8px 0 rgba(0, 0, 0, .1);
    pointer-events: all;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0) scale(1);
    transform: translate3d(0, -50%, 0) scale(1);
    z-index: 2
}

@media screen and (max-width:899px) {
    .modal .modal-box {
        border-radius: 0;
        margin-top: 0;
        top: 0;
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        width: 100vw
    }
}

@media screen and (min-width:560px) and (max-width:899px) and (orientation:landscape) {
    .modal .modal-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100vh
    }
    .modal .modal-box .modal-scroller {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
}

[embedded] .modal .modal-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%
}

.modal .modal-head,
[embedded] .modal .modal-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.modal .modal-head {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: -1px 0 4px 0 rgba(0, 0, 0, .04), 0 -2px 20px 0 rgba(0, 0, 0, .08);
    box-shadow: -1px 0 4px 0 rgba(0, 0, 0, .04), 0 -2px 20px 0 rgba(0, 0, 0, .08);
    height: 5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 2
}

@media screen and (min-width:560px) and (max-width:899px) and (orientation:landscape) {
    .modal .modal-head {
        height: 2.5rem;
        padding: 0 1.5rem
    }
}

@media screen and (max-width:559px) {
    .modal .modal-head {
        height: 2.5rem;
        padding: 0 1.5rem
    }
}

[embedded] .modal .modal-head {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.modal .modal-head__title {
    font-size: 1.5rem;
    margin-left: 4.5rem
}

@media screen and (max-width:559px) {
    .modal .modal-head__title {
        font-size: 1.125rem;
        margin-left: 0
    }
}

.modal .close-modal {
    cursor: pointer;
    height: 1rem;
    width: 1rem
}

.modal .close-modal svg {
    fill: #b5b3ac;
    height: 100%;
    width: 100%
}

.modal .close-modal:hover svg {
    fill: #5e7072
}

[embedded] .modal .modal-scroller {
    scrollbar-face-color: #e9e9e9;
    scrollbar-track-color: transparent;
    overflow-y: auto
}

[embedded] .modal .modal-scroller::-webkit-scrollbar {
    height: 4px;
    width: 4px
}

[embedded] .modal .modal-scroller::-webkit-scrollbar-thumb {
    background: #e9e9e9
}

[embedded] .modal .modal-scroller::-webkit-scrollbar-track {
    background: transparent
}

.modal .modal-body {
    padding: 3rem 6.5rem
}

@media screen and (max-width:559px) {
    .modal .modal-body {
        padding: 2.5rem 1.5rem
    }
}

.modal .modal-title {
    font-size: 1.5rem;
    margin: 0 0 1.5rem
}

@media screen and (max-width:559px) {
    .modal .modal-title {
        font-size: 1.125rem
    }
}

.modal .modal-copy {
    font-size: 1.125rem;
    line-height: 1.1
}

.modal .modal-actions {
    margin-top: 6.75rem
}

.modal .modal-actions button {
    margin-right: 1.25rem
}

@media screen and (max-width:559px) {
    .modal .modal-actions {
        margin-top: 3rem
    }
    .modal .modal-actions button {
        margin-bottom: 1.5rem;
        margin-right: 0;
        width: 100%
    }
}

.modal .modal-footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: -1px 0 4px 0 rgba(0, 0, 0, .04), 0 -2px 20px 0 rgba(0, 0, 0, .08);
    box-shadow: -1px 0 4px 0 rgba(0, 0, 0, .04), 0 -2px 20px 0 rgba(0, 0, 0, .08);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 5rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 1rem 6.5rem
}

@media screen and (min-width:560px) and (max-width:899px) and (orientation:landscape) {
    .modal .modal-footer {
        height: auto;
        padding: 1rem 1.5rem
    }
}

@media screen and (max-width:559px) {
    .modal .modal-footer {
        height: auto;
        padding: 1rem 1.5rem
    }
}

.modal .modal-footer-links {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: .875rem;
    font-weight: 300;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 26rem
}

@media screen and (max-width:899px) {
    .modal .modal-footer-links {
        width: auto
    }
}

@media screen and (max-width:559px) {
    .modal .modal-footer-links {
        font-size: .75rem
    }
}

.modal .modal-footer-links a {
    cursor: pointer;
    text-decoration: underline;
    white-space: nowrap
}

.modal .modal-footer-links i {
    display: block;
    font-size: 2rem;
    font-style: normal;
    height: 1.5rem;
    line-height: 1.25rem;
    margin: 0 .4rem;
    text-align: center
}

@media screen and (max-width:559px) {
    .modal .modal-footer-links i:nth-child(4) {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        height: 0;
        opacity: 0;
        width: 100%
    }
}

.modal.modal-fade-enter-active {
    -webkit-transition: opacity .3s cubic-bezier(.175, .885, .32, 1.275);
    transition: opacity .3s cubic-bezier(.175, .885, .32, 1.275)
}

.modal.modal-fade-enter-active .modal-box {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275);
    transition: -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275);
    transition: transform .3s cubic-bezier(.175, .885, .32, 1.275);
    transition: transform .3s cubic-bezier(.175, .885, .32, 1.275), -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275)
}

@media screen and (max-width:559px) {
    .modal.modal-fade-enter-active {
        -webkit-transition: opacity .15s linear;
        transition: opacity .15s linear
    }
    .modal.modal-fade-enter-active .modal-box {
        -webkit-transition: -webkit-transform .15s linear;
        transition: -webkit-transform .15s linear;
        transition: transform .15s linear;
        transition: transform .15s linear, -webkit-transform .15s linear
    }
}

.modal.modal-fade-leave-active {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.modal.modal-fade-leave-active .modal-box {
    -webkit-transition: -webkit-transform .15s linear;
    transition: -webkit-transform .15s linear;
    transition: transform .15s linear;
    transition: transform .15s linear, -webkit-transform .15s linear
}

.modal.modal-fade-enter,
.modal.modal-fade-leave-to {
    opacity: .5
}

.modal.modal-fade-enter .modal-box,
.modal.modal-fade-leave-to .modal-box {
    -webkit-transform: translate3d(0, -50%, 0) scale(.5);
    transform: translate3d(0, -50%, 0) scale(.5)
}

@media screen and (max-width:559px) {
    .modal.modal-fade-enter .modal-box,
    .modal.modal-fade-leave-to .modal-box {
        -webkit-transform: translate3d(0, -100%, 0) scale(1);
        transform: translate3d(0, -100%, 0) scale(1)
    }
}

.svg-filters {
    height: 0;
    position: absolute;
    width: 0
}

html {
    color: #5e7072;
    font-family: omnes-pro, Work Sans, Arial, Sans-serif, Times New Roman;
    font-size: 16px;
    position: fixed
}

body,
html {
    height: 100%;
    overflow: hidden
}

body {
    margin: 0
}

a,
a:active,
a:focus,
a:hover,
a:link,
a:visited {
    color: #50515e;
    text-decoration: none
}

ul li {
    list-style-type: none
}

label {
    display: block;
    pointer-events: none
}

input,
textarea {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    text-align: start
}

input:focus,
textarea:focus {
    outline: none
}

.app {
    height: 100%
}

.view-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100vw
}

.view-wrapper .base-edit-view {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    z-index: 1
}

.view-wrapper .app-footer {
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    position: relative;
    width: 100%;
    z-index: 2
}

.btn,
button {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .05)), to(rgba(0, 0, 0, .05)));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .05), rgba(0, 0, 0, .05));
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24), 0 4px 8px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24), 0 4px 8px 0 rgba(0, 0, 0, .08);
    color: #5e7072;
    cursor: pointer;
    font-family: omnes-pro, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    height: 3rem;
    line-height: 3rem;
    outline: none;
    padding: 0 2rem;
    position: relative;
    -webkit-transition: background-image .15s linear, -webkit-box-shadow .15s linear;
    transition: background-image .15s linear, -webkit-box-shadow .15s linear;
    transition: background-image .15s linear, box-shadow .15s linear;
    transition: background-image .15s linear, box-shadow .15s linear, -webkit-box-shadow .15s linear
}

.btn span,
button span {
    white-space: nowrap
}

@media (hover:hover) {
    .btn:not([disabled]):focus,
    .btn:not([disabled]):hover,
    button:not([disabled]):focus,
    button:not([disabled]):hover {
        background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .05)), to(rgba(0, 0, 0, .05)));
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .05), rgba(0, 0, 0, .05));
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24), 0 4px 16px 0 rgba(0, 0, 0, .18);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24), 0 4px 16px 0 rgba(0, 0, 0, .18)
    }
    .btn:not([disabled]):active,
    button:not([disabled]):active {
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .18);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .18)
    }
}

.btn.cta-btn,
button.cta-btn {
    background-color: #2da7d6;
    color: #fff;
    font-weight: 600
}

.btn.cta-btn:not([disabled]):focus,
.btn.cta-btn:not([disabled]):hover,
button.cta-btn:not([disabled]):focus,
button.cta-btn:not([disabled]):hover {
    background-color: #2da7d6
}

.btn.cta-btn:not([disabled]):active,
button.cta-btn:not([disabled]):active {
    background-color: #2794be
}

.btn.disabled,
.btn[disabled],
button.disabled,
button[disabled] {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .025)), to(rgba(0, 0, 0, .025)));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .025), rgba(0, 0, 0, .025));
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .18), 0 4px 8px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .18), 0 4px 8px 0 rgba(0, 0, 0, .08);
    color: #5e7072;
    cursor: default;
    opacity: .5
}

.err-msg {
    font-family: omnes-pro, sans-serif;
    font-size: .75rem;
    line-height: .75rem;
    margin: 0;
    padding: 0;
    color: #ff9e00
}

::selection {
    background: #d9e0e0
}

::-moz-selection {
    background: #d9e0e0
}

.state-disabled {
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .5;
    pointer-events: none
}

.state-invalid {
    border-bottom: 1px solid #ff9e00!important
}
